{% extends 'base.html.twig' %}

{% block body %}
    <h1>User Quizz</h1>

    <table class="table">
    
        <tbody>
		<form method="POST" action="/saveuserquiz">
        {% for questionanswer in questionsdata %}
            <tr>
				<td>Question</td>
                <td>{{ questionanswer.intitule }}</td>
			</tr>
            <tr>
				<td>Response</td>
				<td>
				{% for options in questionanswer['answers'] %}
				<input type="checkbox" value= "1" name="options"><br>
				{% endfor %}
				</td>
			</tr>			
				
				
        {% endfor %}
		</form>
        </tbody>
    </table>
{% endblock %}
